.button {
    background-color: var(--__photon__button_background);
    border: initial;
    border-radius: 2px;
    color: var(--__photon__button_color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    height: 32px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a.button {
    align-items: center;
    cursor: initial;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
}

/* Types */
.button--primary {
    background-color: var(--__photon__button_background_primary);
    color: var(--__photon__button_color_primary);
}
.button--ghost {
    background-color: transparent;
    color: var(--__photon__button_color_ghost);
    height: 32px;
    padding: 8px;
    width: 32px;
}

/* Sizes */
.button--micro {
    font-size: 11px;
    height: 24px;
}
.button--puffy {
    border-radius: 4px;
    font-size: 15px;
    height: 48px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
}

.button:not(
        .button--micro):not(
        .button--puffy):not(
        .button--ghost) {
    min-width: 132px;
}


/* Behaviours */
.button:disabled,
.button[disabled] {
    opacity: 0.4;
}
.button:not(:disabled):not([disabled]):focus {
    box-shadow: var(--__photon__focus_box_shadow);
}
.button::-moz-focus-inner {
    border: initial
}

.button:not(:disabled):not([disabled]):hover {
    background-color: var(--__photon__button_background_hover);
}
.button:not(:disabled):not([disabled]):hover:active {
    background-color: var(--__photon__button_background_active);
}

.button--primary:not(:disabled):not([disabled]):hover {
    background-color: var(--__photon__button_background_primary_hover);
}
.button--primary:not(:disabled):not([disabled]):hover:active {
    background-color: var(--__photon__button_background_primary_active);
}

.button--ghost:not(:disabled):not([disabled]):hover {
    background-color: var(--__photon__button_background_ghost_hover);
}
.button--ghost:not(:disabled):not([disabled]):hover:active {
    background-color: var(--__photon__button_background_ghost_active);
}
