label.field {
    display: inline-flex;
    flex-direction: column;
}

label.field > input {
    margin-top: 8px;
}

input.field,
label.field > input {
    background-color: var(--__photon__field_background);
    border: initial;
    box-shadow: inset 0 0 0 1px var(--__photon__field_border_color);
    border-radius: 2px;
    color: var(--__photon__field_color);
    height: 32px;
    padding: 0 8px;
    font: inherit;
}

input.field::placeholder,
label.field > input::placeholder {
    color: var(--__photon__field_placeholder_color);
}

input.field:hover,
label.field > input:hover {
    box-shadow: inset 0 0 0 1px var(--__photon__field_border_color_hover);
}

input.field:focus,
label.field > input:focus {
    box-shadow: var(--__photon__field_box_shadow_focus);
}

input.field:invalid,
label.field > input:invalid {
    box-shadow: var(--__photon__field_box_shadow_error);
}

input.field[type="search"] {
    background-image: var(--__photon__field_background_image_search);
    background-position: 8px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    text-indent: 24px;
}
